#container {
    min-height: 100vh;
}

h1 a {
    color: initial;
    text-decoration: none;
}

.standard-login {
    margin-top: .2em;
}

#login-form, #login-oauth-container {
    font-size: .6em;
    margin-top: .25em;
}

.login-container, #login-oauth-container {
    background: hsl(0, 0%, 50%);
    border-radius: 8px;
    padding: 20px;
}

.login-container {
    box-sizing: border-box;
    width: 400px;
}

@media (max-width: 440px) {
    .login-container, .standard-login, #login-form {
        width: 100%;
    }
}

#login-oauth-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

#login-oauth-container img {
    max-width: 100px;
}

.login-container input {
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    padding: .5em;
    width: 100%;
}

input {
    font-size: inherit;
}

form #username {
    margin-bottom: .5em;
}

.login-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: .5em;
}

.login-buttons button {
    background-color: deeppink;
    color: hsl(0, 0%, 95%);
    border-radius: 5px;
    border-width: 0;
    padding-block: .5em;
    padding-inline: 1em;
}

.login-buttons button:hover, .login-buttons button:active {
    background-color: hsl(328, 100%, 60%);
}

.login-buttons .link:hover {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: .6em;
}

.lh-0 {
    line-height: 0;
}