#container {
    min-height: 100vh;
}

.standard-register {
    margin-top: .2em;
}

#register-form, #register-oauth-container {
    font-size: .6em;
    margin-top: .25em;
}

.register-container, #register-oauth-container {
    background: hsl(294, 44.5%, 66%);
    border-radius: 8px;
}

.register-container {
    box-sizing: border-box;
    padding: 20px;
    width: 400px;
}

@media (max-width: 440px) {
    .register-container, .standard-register, #register-form {
        width: 100%;
    }
}

#register-oauth-container {
    align-items: center;
    display: flex;
    gap: 14px;
    justify-content: center;
    padding-block: 8px;
    padding-inline: 14px;
}

.oauth-option {
    background-color: hsl(0, 0%, 30%);
    border-radius: 16px;
    padding-block: .5em;
    padding-inline: 1em;
}


.google {
    background-color: hsl(222, 100%, 85%);
}

.github {
    background-color: hsl(280, 50%, 85%);
}

#register-oauth-container img {
    height: auto;
    max-width: 50px;
}

.register-container input {
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    padding: .5em;
    width: 100%;
}

input {
    font-size: inherit;
}

form #username, form #password, form #confirmPassword {
    margin-bottom: .5em;
}

.register-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: .5em;
}

.register-buttons button {
    background-color: deeppink;
    color: hsl(0, 0%, 95%);
    border-radius: 5px;
    border-width: 0;
    padding-block: .5em;
    padding-inline: 1em;
}

.register-buttons button:hover, .register-buttons button:active {
    background-color: hsl(328, 100%, 60%);
}

.register-buttons .link:hover {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: .6em;
}

.lh-0 {
    line-height: 0;
}
